services:
  comfy:
    build: ./
    image: quinninc/comfy:3.0.0
    container_name: comfy
    privileged: true
    runtime: nvidia
    network_mode: "host"
    env_file: .env
    volumes:
      - ./fs:/fs
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
