services:
  comfy:
    build: ./
    image: quinninc/comfy:2.14.0
    container_name: comfy
    privileged: true
    runtime: nvidia
    network_mode: "host"
    env_file: .env
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
