services:
  comfy:
    env_file: .env
    build:
      context: .
      args:
        - HF_TOKEN=${HF_TOKEN}
        - MODEL_FILE_NAME=${MODEL_FILE_NAME}
    image: quinninc/comfy:${VERSION}
    container_name: comfy
    privileged: true
    runtime: nvidia
    network_mode: "host"
    volumes:
      - ./examples/${TEST_INPUT_FILE_NAME}:/app/test_input.json
