services:
  comfy:
    env_file: .env
    build:
      context: .
      args:
        - HF_TOKEN=${HF_TOKEN}
        - INCLUDE_MODELS=${INCLUDE_MODELS}
    image: quinninc/comfy:1.0.0-runpod
    container_name: comfy
    privileged: true
    runtime: nvidia
    network_mode: "host"
    volumes:
      - ./examples/flux-kontext-input.json:/app/test_input.json
